{% extends 'core/base.html' %}
{% load static %}

{% block content %}
    {% if profile.avatar %}
        <img src="{{profile.avatar.url}}">
    {% else %}
        <img src="{% static 'registration/img/no-avatar.jpg' %}">
    {% endif %}
    <h3>{{profile.user}}</h3>
    {% if profile.bio %}<p>{{ profile.bio }}</p>{% endif %}
    {% if profile.link %}<p><a href="{{ profile.link }}">{{ profile.link }}</a></p
    >{% endif %}
    <p><a href="{% url 'profile-list' %}">Ir atrás</a></p>
{% endblock %}